:root {
	--primary-100: #f3d6ff;
	--primary-200: #e4adff;
	--primary-300: #d084ff;
	--primary-400: #bd66ff;
	--primary-500: #9d33ff;
	--primary-600: #7a25db;
	--primary-700: #5b19b7;
	--primary-800: #401093;
	--primary-900: #2c097a;
	--success-100: #eefbd1;
	--success-200: #daf8a5;
	--success-300: #bbec76;
	--success-400: #9ad951;
	--success-500: #6ec120;
	--success-600: #55a517;
	--success-700: #3f8a10;
	--success-800: #2b6f0a;
	--success-900: #1e5c06;
	--info-100: #cbfef7;
	--info-200: #98fdf7;
	--info-300: #64f9fb;
	--info-400: #3ee7f8;
	--info-500: #00cbf4;
	--info-600: #009ed1;
	--info-700: #0077af;
	--info-800: #00558d;
	--info-900: #003d75;
	--danger-100: #ffe9d2;
	--danger-200: #ffcda6;
	--danger-300: #ffab79;
	--danger-400: #ff8a58;
	--danger-500: #ff5421;
	--danger-600: #db3618;
	--danger-700: #b71e10;
	--danger-800: #930c0a;
	--danger-900: #7a060d;
}
